<form class="form-inline">
    <input id="foodTitle" class="span7" type="text" placeholder="Food name">
    <input id="foodPrice" class="span2" type="text" placeholder="Price">
    <button class="btn" type="button">Add</button>
</form>

<table class="table table-bordered table-hover">
    <tbody id="foods">
    </tbody>
    <tfoot>
        <td></td><td></td><td>Total:</td><td><span id="total">0</span> грн</td><td></td>
    </tfoot>
</table>
