<div class="hero-unit">
    <p class="text-right"><small><a href="/people">Manage people</a></small></p>
    <table class="table table-bordered">
        <tr class="info" id="people"></tr>
    </table>
    <div id="food"></div>
</div>
