<div class="hero-unit">
    <p class="text-right"><small><a href="/">Home</a></small></p>
    <div class="input-append">
        <input type="text" placeholder="Person">
        <button class="btn" type="button">Add</button>
    </div>
    <ul></ul>
</div>
